.partners h3{
  color: #6b3d68;
  padding-top: 35px;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 5px;
  font-family: 'Vina Sans', sans-serif;
}
.partners .image {
  display: inline-block;
  padding: 25px;
}
.partners .image img {
  width: 250px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #8b00b58a;
}