* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #bbbbbbba;
}

.menu {
  height: 35px;
  position: relative;
  background-color: #385A64;
  border-bottom: 1px solid #ff00eea8;
  padding:5px ;
}

.list {
  display: inline-block;
}

.list li{
  display: inline-block;
  text-align: center;
  list-style: none;
}

.list li a{
  font-size: 14px;
  display: block;
  color: #cbcbcb;
  margin: 5px;
}

.list li a:hover,
li.active a {
  color: #ff00ef8f;
  cursor: pointer;
}
li.active a {
  font-weight: bold;
}

li.out {
  display: inline;
  cursor: pointer;
  color: #ff0000c3;
}
li.out a {
  display: none;
}
li.out:hover a {
  display: inline;
  font-weight: bold;
}
li.out a:hover {
  color: #ff0000c3;
}

.search {
  position: absolute;
  top: calc(50% - 10px);
  right: 0;
}
.search input {
  text-align: right;
  height: 20px;
  border: none;
  background-color: transparent;
  color: #a400d5;
  caret-color: #a400d5;
}
.search input:focus {
  outline: none;
}
.search input::placeholder {
  font-size: 12px;
  color: #a400d5;
}

.footer {
  width: 100%;
  height: 25px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  color: #b1b1b1;
  background-color: #385A64;
}

.material-symbols-outlined.logout {
  vertical-align: middle;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' -25,
  'opsz' 10;
}
