.methods {
  margin-top: 40px;
}

.methods > div {
  display: inline-block; 
  width: 250px;
}
.methods h2{
  color: #810f7a;
  margin-bottom: 15px;
}

.methods > div p {
  margin-bottom: 10px;
  color: #6b3d68;
}
.methods .call a {
  color: #6b3d68;
  text-decoration: none;
  margin-bottom: 10px;
}
.methods .call a:hover {
  color: #385A64;
  font-weight: bold;
}



