.page {
  background-color: #cbcbcb;
}

.page h1{
  text-align: left;
  padding: 35px;
  color: var(--textColor);
}

.page .content{
  margin: 150px 0;
  text-align: center;
}

.page .content p:nth-child(1) {
  font-size: 65px;
  font-family: 'Pacifico', cursive;
  color: var(--textColor);
}
.page .content p:nth-child(2) {
  font-size: 25px;
  font-family: 'Hedvig Letters Serif', serif;
  color: var(--textColor);
  opacity: .5;
}

