body {
  background: url(../pics/1.jpg) repeat fixed;
}

.container {
  width: 300px;
  padding: 20px;
  margin: 60px auto;
  border-radius: 5%;
  background-color: #cbcbcb;
  box-shadow: 0 0 5px var(--secondColor);
  min-height: auto;
}

.user,
.pass,
.mail {
  padding: 15px;
  margin-bottom: 20px;
}

.inputStyle {
  display: block;
  width: 100%;
  padding: 5px;
  color: var(--secondColor);
  border: none;
  border-bottom: 1px solid var(--textColor);
  background-color: transparent;
}

.inputStyle:focus {
  outline: none;
  border-bottom: 1px solid var(--secondColor);
}

.inputStyle::placeholder {
  font-size: 13px;
}
input[type="submit"] {
  width: 100px;
  padding: 8px;
  margin: 10px auto;
  color: #fbf2ff;
  border: none;
  background-color: var(--textColor);
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Share Tech Mono', monospace;
}

form input[type="submit"]:hover  {
  cursor: pointer;
  background-color: var(--secondColor);
}

.container a {
  display: block;
  color: var(--textColor);
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0;
  text-decoration: none;
}
.container a:hover {
  font-weight: bold;
  color: var(--secondColor);
}

.material-symbols-outlined.logout {
  vertical-align: middle;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' -25,
  'opsz' 16;
  color: #cbcbcb;
}