h1 {
  padding: 15px;
  color: var(--textColor);
  text-align: left;
  margin: 0;
}

.product {
  margin-top: 20px;
}
.product:hover {
  box-shadow: none;
  cursor: auto;
}
.product .order img {
  vertical-align: middle;
}
.product .order a {
  padding: 10px;
  background-color: #29A71A;
  border-radius: 10px;
  margin-top: 5px;
  display: block;
  color: #FFF;
}