* {
  padding: 0;
  margin: 0;
}

body {
  background: url(../pics/1.jpg) repeat fixed;
}

.container {
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  background-color: #cbcbcb;
  border: 1px solid #b366aebb;
  border-radius: 5%;
}

.user,
.pass,
.mail {
  padding: 15px;
}

.form_img {
  width: fit-content;
  margin: 0 auto 10px;
}

.inputStyle {
  display: block;
  margin: auto;
  border: none;
  border-bottom: 1px solid #b365aec9;
  padding: 5px;
  width: 100%;
  background-color: transparent;
  color: #6b3d68;
}

.inputStyle:focus {
  outline: none;
  border-bottom: 1px solid #915a8d;
  
}

.inputStyle::placeholder {
  font-size: 14px;
}

.container input[type="submit"] {
  display: block;
  margin: 15px auto;
  padding: 10px;
  width: 100px;
  font-weight: bold;
  color: #fbf2ff;
  border: none;
  background-color: #B366AE;
  border-radius: 10px;
  font-family: 'Share Tech Mono', monospace;
}

form input[type="submit"]:hover {
  cursor: pointer;
}
