* {
  padding: 0;
  margin: 0;
}

body {
  background: url(../pics/1.jpg) repeat fixed;
}

.container {
  /* height: 400px; */
  width: 250px;
  margin: 30px auto;
  padding: 20px;
  background-color: #cbcbcb;
  border: 1px solid #b366aebb;
  border-radius: 5%;
}

.user,
.pass {
  margin: 30px 0;
  padding: 15px;
}

.user .user_img,
.pass .pass_img {
  width: fit-content;
  margin: 0 auto 20px;
}

.user input, .pass input {
  display: block;
  margin: auto;
  border: none;
  border-bottom: 1px solid #b365aec9;
  padding: 5px;
  width: 100%;
  background-color: transparent;
  color: #6b3d68;
}

.user input:focus,
.pass input:focus {
  outline: none;
  border-bottom: 1px solid #915a8d;
  
}

.user input::placeholder,
.pass input::placeholder {
  font-size: 12px;
}

form input[type="submit"] {
  display: block;
  margin: auto;
  width: 80px;
  font-weight: bold;
  color: #fbf2ff;
  border: none;
  background-color: #B366AE;
  border-radius: 10px;
  height: 20px;
  font-family: 'Share Tech Mono', monospace;
}

form input[type="submit"]:hover {
  cursor: pointer;
}

.container a {
  display: block;
  margin: 20px auto;
  width: fit-content;
  font-size: 14px;
  color: #915a8d;
}


/* Icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}